gunicorn
django_heroku
whitenoise
Django==3.2
dj-database-url
psycopg2
django-adminstats==0.7.4
django-chartjs==2.3.0
django-colorfield==0.7.1
django-crispy-forms==1.14.0
django-multiselectfield==0.1.12
django-nvd3==0.9.7
Pillow==9.1.1

