gunicorn
django_heroku
whitenoise
Django==3.2
django-admin-interface==0.19.1
django-adminstats==0.7.4
django-chartjs==2.3.0
django-colorfield==0.7.1
django-crispy-forms==1.14.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-mathfilters==1.0.0
django-multiselectfield==0.1.12
django-nvd3==0.9.7
django-social-share==2.2.1
Pillow==9.1.1

