{% extends 'base1.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            {% for post in posts %}
                                            <div class="col-md-12 col-xl-6">
                                                <!-- <img src="{{post.image.url}}" style="height:60px;width: 90px;" alt="small-logo.png" > -->
                                                
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>{{post.title}}</h5>
                                                        <span>{{post.link }}</span>
                                                    </div>
                                                    <div class="card-block">
                                                        <p>
                                                            {{post.content}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}