{% extends 'base.html' %}
{% load static %}
{% block body %}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-layout bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>Label Badge</h4>
                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item">
                                                            <a href="index.html">
                                                                <i class="icofont icofont-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="#!">Basic Components</a>
                                                        </li>
                                                        <li class="breadcrumb-item"><a href="#!">Label Badge</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    
                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Badges card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-header-left">
                                                            <h5>Badges</h5>
                                                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                        </div>
                                                        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-xl-3 col-sm-12">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Default badge

                                                                    </div>

                                                                    <p>Use class <code>badge-default</code></p>
                                                                    <div>
                                                                        <label class="badge badge-default">5</label>
                                                                        <label class="badge badge-default">9</label>
                                                                        <label class="badge badge-default">15</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Primary badge

                                                                    </div>

                                                                    <p>Use class <code>badge-primary</code></p>
                                                                    <label class="badge badge-primary">5</label>
                                                                    <label class="badge badge-primary">9</label>
                                                                    <label class="badge badge-primary">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Success badge

                                                                    </div>

                                                                    <p>Use class <code>badge-success</code></p>
                                                                    <label class="badge badge-success">5</label>
                                                                    <label class="badge badge-success">9</label>
                                                                    <label class="badge badge-success">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Warning badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-warning</code>
                                                                    </p>
                                                                    <label class="badge badge-warning">5</label>
                                                                    <label class="badge badge-warning">9</label>
                                                                    <label class="badge badge-warning">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Danger badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>bg-danger</code>
                                                                    </p>
                                                                    <label class="badge badge-danger">5</label>
                                                                    <label class="badge badge-danger">9</label>
                                                                    <label class="badge badge-danger">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Info badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-info</code>
                                                                    </p>
                                                                    <label class="badge badge-info ">5</label>
                                                                    <label class="badge badge-info">9</label>
                                                                    <label class="badge badge-info">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">inverse default badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-inverse-default</code>
                                                                    </p>
                                                                    <label class="badge badge-inverse-default">5</label>
                                                                    <label class="badge badge-inverse-default">9</label>
                                                                    <label class="badge badge-inverse-default">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Inverse primary badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-inverse-primary</code>
                                                                    </p>
                                                                    <label class="badge badge-inverse-primary">5</label>
                                                                    <label class="badge badge-inverse-primary">9</label>
                                                                    <label class="badge badge-inverse-primary">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Inverse success badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-inverse-success</code>
                                                                    </p>
                                                                    <label class="badge badge-inverse-success">5</label>
                                                                    <label class="badge badge-inverse-success">9</label>
                                                                    <label class="badge badge-inverse-success">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Inverse warning badge
                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-inverse-warning</code>
                                                                    </p>
                                                                    <label class="badge badge-inverse-warning">5</label>
                                                                    <label class="badge badge-inverse-warning">9</label>
                                                                    <label class="badge badge-inverse-warning">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Inverse Danger badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-inverse-danger</code>
                                                                    </p>
                                                                    <label class="badge badge-inverse-danger">5</label>
                                                                    <label class="badge badge-inverse-danger">9</label>
                                                                    <label class="badge badge-inverse-danger">15</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-xl-3 col-sm-6">
                                                                <div class="badge-box">
                                                                    <div class="sub-title">Inverse Info badge

                                                                    </div>

                                                                    <p>
                                                                        Use class <code>badge-inverse-info</code>
                                                                    </p>
                                                                    <label class="badge badge-inverse-info">5</label>
                                                                    <label class="badge badge-inverse-info">9</label>
                                                                    <label class="badge badge-inverse-info">15</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Badges card end -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Label card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="card-header-left">
                                                            <h5>Labels</h5>
                                                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                        </div>
                                                        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <!-- labels -->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p>Use the <code>.label</code> class,&nbsp; followed by one of the six contextual classes <code>.label-default</code>, <code>.bg-primary</code>, <code>.bg-success</code>,
                                                                    <code>.bg-info</code>, <code>.bg-warning</code> or <code>.bg-danger</code>, within a <code>&lt;label&gt;</code> element to create a label:
                                                                </p>
                                                                <div class="label-main">
                                                                    <label class="label label-default">Default Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-primary">Primary Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-success">Success Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-info">Info Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-warning">Warning Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-danger">Danger Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse">Inverse Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse-default">Border Default</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse-primary">Border Primary</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse-success">Border Success</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse-info">Border Label</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse-warning">Border Warning</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse-danger">Border Danger</label>
                                                                </div>
                                                                <div class="label-main">
                                                                    <label class="label label-inverse-info-border">Border Inverse</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Label card end -->
                                            </div>
                                        </div> 
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}