{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                 <!-- Page-header start -->
                                 <div class="page-header card">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <i class="icofont icofont-listine-dots bg-c-pink"></i>
                                                <div class="d-inline">
                                                    <h4>About Us</h4>
                                                    <span>Information about the Company</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="/">
                                                            <i class="icofont icofont-home"></i>
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="/">Dashboard</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->

                                <!-- Page body start -->
                                <div class="page-body button-page">
                                    <div class="row">
                                        <!-- bootstrap modal start -->
                                        <div class="col-sm-12">
                                            <!-- Notification card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Trading</h5>
                                                    <div class="card-header-right">                                                             
                                                        <i class="icofont icofont-spinner-alt-5"></i>                                                        
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="sub-title">Crytocurrency</div>
                                                            <p>This plugin has layout options where you can display it in any corner of the screen, simply click one layout corners and press the buttons on the other section to see the magic</p>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="sub-title">Forex Trading</div>
                                                            <p>This plugin has layout options where you can display it in any corner of the screen, simply click one layout corners and press the buttons on the other section to see the magic</p>
                                                            <div class="sub-title">Stock Market</div>
                                                            <p>This plugin has layout options where you can display it in any corner of the screen, simply click one layout corners and press the buttons on the other section to see the magic</p>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="sub-title">Investment Marketing</div>
                                                            <p>This plugin has layout options where you can display it in any corner of the screen, simply click one layout corners and press the buttons on the other section to see the magic</p>
                                                            <div class="sub-title">Invesment Banking</div>
                                                            <p>This plugin has layout options where you can display it in any corner of the screen, simply click one layout corners and press the buttons on the other section to see the magic</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Notification card end -->
                                        </div>
                                        <!-- Bootstrap modal end -->
                                    </div>
                                </div>
                                <!-- Page body end -->
                                 <!-- Page-header start -->
                                 <div class="page-header card">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <i class="icofont icofont-listine-dots bg-c-pink"></i>
                                                <div class="d-inline">
                                                    <h4>Terms and Conditions of Services</h4>
                                                    <span>Can call for cancellation of services</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="/">
                                                            <i class="icofont icofont-home"></i>
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="/">Dashboard</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                   <!-- Page body start -->
                                <div class="page-body button-page">
                                    <div class="row">
                                        <!-- bootstrap modal start -->
                                        <div class="col-sm-12">
                                            <!-- Notification card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>About Us</h5>
                                                    <div class="card-header-right">                                                             
                                                        <i class="icofont icofont-spinner-alt-5"></i>                                                        
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="sub-title">Withdraws</div>
                                                            <p>First withdrawal binds account, for the next  6 days , withdraw not more than 25 after 6 days from last deposit you can withdraw all earnings, all the money.</p>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="sub-title">Deposit</div>
                                                            <p>Systems are manual, to prevent financial loses due to hackers</p>
                                                            <p>Send the money(amount in usd) to  the address of chosen method, then  enter the details in the deposit form including the ponit its from(wallet or mtn/Airtel Number) plus transaction ID(Hash for trust Wallet)</p>
                                                            <div class="sub-title">Daily Gains</div>
                                                            <p>Daily Earnings can't be gainned without loging into the app atleast Once each day</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Notification card end -->
                                        </div>
                                        <!-- Bootstrap modal end -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Main-body end -->

                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}