{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<body class="fix-menu">
    <!-- Pre-loader start -->
    <div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-layout bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>Withdrawal Form</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                            </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    
                                    <!-- Page-body start -->
                                    <div class="page-body">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Typography card start -->
                                                <div class="card">
                                                    <div class="card-block typography">
                                                        <div class="row">
                                                            <div class="col-sm-12 signup-card card-block auth-body mr-auto ml-auto">
                                                        <form class="md-float-material"  method="POST">
                                                            <div class="text-center">
                                                                <img src="{% static 'assets/logo.jpg' %}" style="height:60px;width: 90px;" alt="logo.png">
                                                            </div>
                                                            <div class="auth-box">
                                                                <div class="row m-b-20">
                                                                    <div class="col-md-12">
                                                                        <h3 class="text-center txt-primary">{{header}}.</h3>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                {% csrf_token %}
                                                                <label  class="form-control">Amount in USD</label>
                                                                <div class="input-group">
                                                                    <input type="number" class="form-control" placeholder="Amount in USD(US Dollars)" name="amount" required>
                                                                    <span class="md-line"></span>
                                                                </div>
                                                                <label  class="form-control">Select Payment method</label>
                                                                <div class="input-group">
                                                                        <select class="form-control" name="method">
                                                                            {% for i in category %}
                                                                            <option value="{{ i.id }}">{{ i.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                </div>
                                                                <label  class="form-control">Enter Wallet Address(Trc-20 etc) or Deposit Account(MTN/AIRTEL)</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" placeholder="Mobile Money Number starting with 256..." name="wallet" required>
                                                                    <span class="md-line"></span>
                                                                </div>
                                                                
                                                                <div class="row m-t-30">
                                                                    <div class="col-md-12">
                                                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">{{button}}.</button>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                <div class="row">
                                                                    <div class="col-md-10">
                                                                        <p class="text-inverse text-left m-b-0">Thank you and Doing Business With Us.</p>
                                                                        <p class="text-inverse text-left"><b>Hustlersbay</b></p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <img src="{% static 'assets/logo.jpg' %}" style="height:60px;width: 90px;" alt="logo.png">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Typography card end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}