{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <div class="row">
                                            <!-- card1 start -->
                                            <!-- Data widget start -->
                                            <div class="col-md-12 col-xl-12">
                                                <div class="card project-task">
                                                    <div class="card-header">
                                                        <div class="card-header-left ">
                                                            <h5>{{ header }} </h5>
                                                        </div>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="icofont icofont-simple-left "></i></li>
                                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                                <li><i class="icofont icofont-error close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block p-b-10">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Amount</th>
                                                                        <th>Date</th>
                                                                        <th>TXT Code</th>
                                                                        {% if with %}
                                                                        <th>Coin</th>
                                                                        <th>Wallet</th>
                                                                        {% endif %}
                                                                        <th>Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for i in lists %}
                                                                    <tr>
                                                                        <td>
                                                                            <div class="task-contain">
                                                                                <h6 class="bg-c-blue d-inline-block text-center">$</h6>
                                                                                <p class="d-inline-block m-l-20">{{ i.amount }}</p>
                                                                            </div>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">{{ i.date_deposit }}</p>
                                                                            <p class="d-inline-block m-r-20">{{ i.date_withdraw }}</p>
                                                                            
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">{{ i.txt_random }}</p>
                                                                        </td>
                                                                        {% if with %}
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">{{ i.wallet }}</p>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">{{ i.address }}</p>
                                                                        </td>
                                                                        {% endif%}
                                                                        {% if i.status == True %}
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20"style=": 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;
                                                                            line-height: 50px;text-align:center;display: block;background-color:#90EE90;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;">Completed</p>
                                                                        </td>
                                                                        {% else %}
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20" style=": 100px;height: 50px;font-size: 14px;color: #ffffff;font-weight: 600;
                                                                            line-height: 50px;text-align:center;display: block;background-color:#077E8C;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 10%;text-transform: uppercase;">Pending </p>
                                                                        </td>
                                                                        {% endif %}
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}