{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<body class="fix-menu">
    <!-- Pre-loader start -->
    <div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-layout bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>Deposit Page</h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    
                                    <!-- Page-body start -->
                                    <div class="page-body">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Typography card start -->
                                                <div class="card">
                                                    <div class="card-block typography">
                                                        <div class="row">
                                                            <button class="accordion">Network Transaction Charges For Withdraws</button>
                                                            <div class="col-sm-12 col-xl-6 panel">
                                                                
                                                    <div class="card-block p-b-10">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Currency</th>
                                                                        <th>Charges</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                   
                                                                    <tr>
                                                                        <td>
                                                                            <div class="task-contain">
                                                                                
                                                                                <p class="d-inline-block m-l-20">USDT(TRC-20)</p>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">$2</p>
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="task-contain">
                                                                                
                                                                                <p class="d-inline-block m-l-20">USDT(ERC-20)</p>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">$4</p>
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="task-contain">
                                                                                <p class="d-inline-block m-l-20">TRX(Tron)</p>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">$1</p>
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="task-contain">
                                                                                <p class="d-inline-block m-l-20">DogeCoin</p>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">$1</p>
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="task-contain">
                                                                                <p class="d-inline-block m-l-20">Shiba Inu</p>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <p class="d-inline-block m-r-20">$1</p>
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                 
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                            </div>
                                                            <div class="col-sm-12 signup-card card-block auth-body mr-auto ml-auto">
                                                        <form class="md-float-material"  method="POST">
                                                            <div class="text-center">
                                                                <img src="{% static 'assets/logo.jpg' %}" style="height:60px;width: 90px;" alt="logo.png">
                                                            </div>
                                                            <div class="auth-box">
                                                                <div class="row m-b-20">
                                                                    <div class="col-md-12">
                                                                        <h3 class="text-center txt-primary">{{header}}.</h3>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                {% csrf_token %}
                                                                <label  class="form-control">Amount in USD</label>
                                                                <div class="input-group">
                                                                    <input type="number" min="4" class="form-control" placeholder="Minimum $4" name="amount" required>
                                                                    <span class="md-line"></span>
                                                                </div>
                                                                <div class="row m-t-30">
                                                                    <div class="col-md-12">
                                                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">{{button}}.</button>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                <div class="row">
                                                                    <div class="col-md-10">
                                                                        <p class="text-inverse text-left m-b-0">Thank you and Doing Business With Us.</p>
                                                                        <p class="text-inverse text-left"><b>Hustlersbay</b></p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <img src="{% static 'assets/logo.jpg' %}" style="height:60px;width: 90px;" alt="logo.png">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Typography card end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
</script>
<style type="text/css">
    /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #90EE90;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
</style>
{% endblock %}
